////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$text-color: #3f3f3f;
$white-color: #fff;
$base-color: #2B7E0B;
$dark-green: #006934;
$accent-color: #00467F;
$bg-color: #EFF6ED;
$bg-section-title: #F4F9D9;
$pdf-button: #003D4D;
