include ../../mixin/_picture
section.p-about.bg-about
  .p-about__inner.section-inner
    include ../component/_c_section-text
    .p-about__president.p-about-president
      .p-about-president__img-wrap
        .p-about-president__img
          img(src=imgPath + "img-president.png", alt="代表取締役 中小路和義")
        .p-about-president__text
          span 有限会社エバーグリーン<br>
          span.text-bold 代表取締役&nbsp;中小路&nbsp;和義
      .p-about-president__message
        p 茶はコーヒーと並んで世界の代表的な飲み物です。 茶の中には緑茶、紅茶、ウーロン茶等品種・製法の違いにより様々な種類がありますが、生産量は紅茶が圧倒的に多のはご承知の通りです。
        p さて、緑茶が日本に伝えられた頃は「薬」として珍重され、その独特の味と香りが好まれ、嗜好飲料として広く定着し現在に至っておりますが、最近になって緑茶の効能に関する研究が科学的に明らかとなり、緑茶は単なる嗜好飲料から生体調節機能を司る食品として、効能を有する天然自然な飲料として、世界的に注目されるようになってきました。
        p 特に世界の茶の集散地機能を司るドイツを中心とした欧州では、緑茶の効能が牽引役となり、緑茶を愛飲する消費者は増加しております。また、十年前は緑茶という存在すら知られておりませんでしたが、今ではホテル、国際列車の食堂車でもグリーンティーは存在いたします。このように、海外の特に先進国において、緑茶の人気は非常に高く、今後益々その傾向は強まるものと推察されます。また、海外で茶を取り扱う企業も緑茶に大変強い関心を示しているなど、海外における緑茶の消費は確実に増加しており、21世紀中には、コーヒーに代わって緑茶が世界の代表的な飲み物になるのではないかと思っております。
        p そこで、私たちは、日本茶を扱う海外のバイヤーの要求にすべてお応えできるよう日本茶の情報から、サンプル、商品、日本茶関連商品等も含めてご提案・提供しております。
      