include ../../mixin/_picture
section.p-about.bg-pattern01
  .p-about__inner.section-inner
    include ../component/_c_section-text
    .p-about__president.p-about-president
      .p-about-president__img-wrap
        .p-about-president__img
          img(src=imgPath + "about/img-president.png", alt="代表取締役 中小路和義")
        .p-about-president__text
          span 有限会社エバーグリーン<br>
          span.text-bold 代表取締役&nbsp;中小路&nbsp;和義
      .p-about-president__message
        p 茶はコーヒーと並んで世界の代表的な飲み物です。 茶の中には緑茶、紅茶、ウーロン茶等品種・製法の違いにより様々な種類がありますが、生産量は紅茶が圧倒的に多のはご承知の通りです。
        p さて、緑茶が日本に伝えられた頃は「薬」として珍重され、その独特の味と香りが好まれ、嗜好飲料として広く定着し現在に至っておりますが、最近になって緑茶の効能に関する研究が科学的に明らかとなり、緑茶は単なる嗜好飲料から生体調節機能を司る食品として、効能を有する天然自然な飲料として、世界的に注目されるようになってきました。
        p 特に世界の茶の集散地機能を司るドイツを中心とした欧州では、緑茶の効能が牽引役となり、緑茶を愛飲する消費者は増加しております。また、十年前は緑茶という存在すら知られておりませんでしたが、今ではホテル、国際列車の食堂車でもグリーンティーは存在いたします。このように、海外の特に先進国において、緑茶の人気は非常に高く、今後益々その傾向は強まるものと推察されます。また、海外で茶を取り扱う企業も緑茶に大変強い関心を示しているなど、海外における緑茶の消費は確実に増加しており、21世紀中には、コーヒーに代わって緑茶が世界の代表的な飲み物になるのではないかと思っております。
        p そこで、私たちは、日本茶を扱う海外のバイヤーの要求にすべてお応えできるよう日本茶の情報から、サンプル、商品、日本茶関連商品等も含めてご提案・提供しております。
    .p-about__table1
      table.p-about-table
        tr
          th 会社名
          td 有限会社エバーグリーン
        tr
          th 本社所在地
          td 〒421-1221 静岡県静岡市葵区牧ヶ谷2022番地
        tr
          th 創業日
          td 平成13年9月1日
        tr
          th 設立日
          td 平成14年4月1日
        tr
          th 資本金
          td 300万円
        tr
          th 認定資格
          td
            .p-about-certification
              .p-about-certification__img
                img(src=imgPath + "about/img-logo01.png", alt="有機JAS認定")
              p.p-about-certification__text 有機JAS認定
            .p-about-certification
              .p-about-certification__img
                img(src=imgPath + "about/img-logo02.png", alt="ISO22000取得")
              p.p-about-certification__text ISO22000取得
            .p-about-certification
              .p-about-certification__img
                img(src=imgPath + "about/img-logo03.png", alt="ハーラル認証")
              p.p-about-certification__text ハーラル認証
        tr
          th 事業内容
          td ・茶の栽培、製造<br>・茶の仕上げ加工、販売<br>・茶の輸出、茶の輸入<br>・茶及び茶有効成分を利用した生活用品の販売<br>・製茶関連機械の斡旋、販売
        tr
          th 取り扱い日本茶
          td 玉露、煎茶各種、番茶、ほうじ茶、玄米茶、玉緑茶、釜炒り茶、抹茶各種、抹茶入り煎茶、抹茶入り玄米茶、抹茶ラテ、ほうじ茶ラテ
    .c-table-box-title.p-about__box-title
      span 業務実績
    .p-about__table2
      table.p-about-table
        tr
          th 輸出取引実績
          td ドイツ(フランクフルト、ハンブルグ、ブレーメン、ベルリン)<br>フランス(パリ)<br>イタリア(フィレンツェ)<br>アメリカ(ニューヨーク)<br>オーストリア(ウイーン、ビエナ)<br>インドネシア(バリ) 台湾(台北)
        tr
          th 主要取引先
          td (株)あいや<br>(株)アオキトランス<br>(株)下田茶舗<br>(株)下堂園<br>(株)日東産業<br>三井農林(株)<br>(株)本目浅吉商店<br>(株)山寺
    .c-table-box-title.p-about__box-title
      span アクセス
    .p-about-map.p-about__map
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3269.2960837550886!2d138.33872467718976!3d34.97424767282378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601a4bc07c2aaef9%3A0x8465c75d32b7b54b!2z5pyJ6ZmQ5Lya56S-IOOCqOODkO-8jeOCsOODqu-8jeODsw!5e0!3m2!1sja!2sjp!4v1746498709729!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      p.p-about-map__address 〒421-1221 <br class="sp">静岡県静岡市葵区牧ヶ谷2022番地






