include ../../mixin/_picture
section.p-business.bg-pattern01
  .p-business__inner.section-inner
    include ../component/_c_section-text
    .c-table-box-title.p-business-box-title
      span エバーグリーン<br class="sp">3つの強み
    section.p-business-section-wrap
      h3.p-business__section-title 1. 厳選された高品質な茶葉の提供
      p.p-business__section-text 長年にわたり茶業界に携わってきた代表自らが、日本国内各地の茶葉の中から、品質と顧客ニーズへの適合性を厳しく評価し製品を厳選しています。これにより、画一的な商品ではなく、お客様の求める品質や風味に合致した製品提案を実現しています。
    section.p-business-section-wrap
      h3.p-business__section-title 2. 安定した生産体制と柔軟な対応力
      p.p-business__section-text お客様の多様な要望に応えるため、自社工場および信頼できるパートナー工場との連携により、各種茶葉の加工を行っています。長年の経験と実績に裏打ちされた技術により、用途に合わせた加工に対応し、お客様の製品開発を強力にサポートいたします。安定した生産体制と柔軟な対応力が、お客様のビジネスを成功に導くための重要な要素となります。
    section.p-business-section-wrap
      h3.p-business__section-title 3. 抹茶へのこだわりと供給体制の確立
      p.p-business__section-text 当社では抹茶の取引シェアが高く、特に宇治抹茶と八女抹茶を得意としております。それぞれの産地に強固なパートナーシップを築いているため、高品質な抹茶を常に安定的に確保できる供給体制を確立しており、継続的に高品質な製品をお届けすることが可能です。
    .c-table-box-title.p-business-box-title
      span 取引の流れ
    .p-business__flow.p-business-flow
      .p-business-flow__inner
        .p-business-flow__img
          img(src=imgPath + "business/img-map.png", alt="取引の流れの図")
        .p-business-boxes
          .p-business-box.bg-color
            .p-business-box__inner
              .p-business-box__title 資料請求・サンプルオーダー
              ul.p-business-box__lists
                li.p-business-box__list カスタマーからオファー及び日本茶の情報の要求
                li.p-business-box__list 全国の契約生産者から荒茶を購入
                li.p-business-box__list カスタマーにサンプルを送付
          .p-business-box.bg-color
            .p-business-box__inner
              .p-business-box__title 発注・製造・納品
              ul.p-business-box__lists
                li.p-business-box__list カスタマーからオーダー
                li.p-business-box__list カスタマーの発注商品を製造し、乙中業者に渡す
                li.p-business-box__list 乙中業者が指定の仕向地に商品を送付
          .p-business-box.bg-color
            .p-business-box__inner
              .p-business-box__title 決済
              ul.p-business-box__lists
                li.p-business-box__list カスタマーから商品代金の入金
                li.p-business-box__list 関係書類を送付