include ../../mixin/_picture
.p-fv
  .p-fv__inner
    .p-fv__img-wrap
      img(src=imgPath + "top/img-hero.jpg", alt="富士山と茶畑の写真").pc
      img(src=imgPath + "top/img-hero-smp.png", alt="富士山と茶畑の写真").sp