include ../../mixin/_picture
section.p-maccha.bg-pattern01
  .p-maccha__inner.section-inner
    include ../component/_c_section-text
    .p-maccha__pdf-button
      .c-pdf-button 製品詳細PDF
    .p-maccha__figure
      img(src=imgPath + "/maccha/img-map.png", alt="お茶の味の比較表").pc
      img(src=imgPath + "/maccha/img-map-sp.png", alt="お茶の味の比較表").sp
    section.p-maccha__contents
      h3.c-table-box-title.p-maccha__box-title
        span 参考資料
      p.p-maccha__text ※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。※※ダミー文章です。ダミー文章です。※ダミー文章です。※ダミー文章です。※ダミー文章です。
      .p-maccha__button
        .c-pdf-button 資料をダウンロード