extend layouts/_default
append value
  - const title = "お茶の栽培から輸出まで | 有限会社エバーグリーン";
  - const description = "トップページのディスクリプション";
  - const keywords = "キーワード,キーワード2,キーワード3";
  - const path = ".";
  - const location = "top";

block header
  include components/component/_c_header-bar
  include components/project/_p_fv
  include components/layout/_l_header

block main
  main 
    include components/project/_p_top
    include components/component/_c_contact

block footer
  include components/layout/_l_footer