@use '../../global/' as g;

// .p-fv-sub ファーストビュー
.c-fv-sub__inner {
  height: 330px;
  display: grid;
  place-items:center;
  @include g.mq(md,max) {
    height: 130px;
    margin-top: g.fz(76);
  }
}
.c-fv-sub__text {
  font-size: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  font-weight: 500;
  letter-spacing: .5em;
  color: g.$white-color;
}

// 背景画像
.c-fv-sub__inner.bg-fv-sub01 {
  background: url(../img/about/img-fv.jpg) no-repeat center / cover;
}
.c-fv-sub__inner.bg-fv-sub02 {
  background: url(../img/business/img-fv.jpg) no-repeat center / cover;
}
.c-fv-sub__inner.bg-fv-sub03 {
  background: url(../img/product/img-fv.jpg) no-repeat center / cover;
}
.c-fv-sub__inner.bg-fv-sub04 {
  background: url(../img/enjoy/img-fv.jpg) no-repeat center / cover;
}
.c-fv-sub__inner.bg-fv-sub05 {
  background: url(../img/maccha/img-fv.jpg) no-repeat center / cover;
}