section.c-contact#contact
  .c-contact__inner
    h2.c-section-title
      span.c-section-title__main Contact
      span.c-section-title__sub お問い合わせ
    p.c-contact__text.section-inner お茶の卸販売やご相談は、<br class="sp">お気軽にお問い合わせください
    .c-contact__btn-wrap
      a.c-contact__btn(href="#") お問合せ 