include ../../mixin/_picture
if location == "about"
  .c-fv-sub
    .c-fv-sub__inner.bg-fv-sub01
      h2.c-fv-sub__text 会社概要
if location == "business"
  .c-fv-sub
    .c-fv-sub__inner.bg-fv-sub02
      h2.c-fv-sub__text 業務内容
if location == "product"
  .c-fv-sub
    .c-fv-sub__inner.bg-fv-sub03
      h2.c-fv-sub__text 取扱商品
if location == "enjoy"
  .c-fv-sub
    .c-fv-sub__inner.bg-fv-sub04
      h2.c-fv-sub__text お茶を楽しむ
if location == "maccha"
  .c-fv-sub
    .c-fv-sub__inner.bg-fv-sub05
      h2.c-fv-sub__text 抹茶&lpar;碾茶&rpar;