if location=="about"
  h2.c-section-title
    span.c-section-title__main About US
    span.c-section-title__sub 私たちについて
  .c-section-text__message 日本文化の根幹を海外に紹介します<br>世界に届ける安心と安全
  p.c-section-text__message-sub 静岡市を拠点に、日本茶の製造・輸出を行う製茶問屋です。<br>ISO22000認証取得、安全と品質にこだわり世界へ安心・安全な日本茶をお届けします。
