if location=="about"
  h2.c-section-title.js-blurAnimation
    span.c-section-title__main About US
  .c-section-text__message.js-fadeUpSingle 日本文化の根幹を海外に紹介します<br>世界に届ける安心と安全
  p.c-section-text__message-sub.js-fadeUpSingle 静岡市を拠点に、日本茶の製造・輸出を<br class="sp">行う製茶問屋です。<br>ISO22000認証取得、安全と品質にこだわり<br class="sp">世界へ安心・安全な日本茶をお届けします。
if location=="business"
  h2.c-section-text__message.js-fadeUpSingle 茶葉栽培から輸出まで一貫体制。<br>伝統と革新、お茶の未来を創造
  p.c-section-text__message-sub.js-fadeUpSingle 茶葉の栽培、製造、輸出入、関連商品の販売まで、お茶に関するあらゆる業務をサポートします。<br class="pc">国内外のニーズに応え、高品質な日本茶と関連商品を世界中に提供しています。
if location=="product"
  h2.c-section-text__message.js-fadeUpSingle 伝統の味から革新的な商品まで、<br>多彩で高品質な日本茶を提供します
  p.c-section-text__message-sub.js-fadeUpSingle 玉露、煎茶、抹茶、ラテなど、高品質な日本茶と茶器を豊富に取り揃えています。<br>伝統的な味わいはもちろん、抹茶ラテなどの革新的な商品も提供しています。
if location=="enjoy"
  h2.c-section-text__message.js-fadeUpSingle 知るほどに楽しい、お茶の多彩な魅力
  p.c-section-text__message-sub.js-fadeUpSingle 玉露、煎茶、抹茶、ラテなど、高品質な日本茶と茶器を豊富に取り揃えています。<br>伝統的な味わいはもちろん、抹茶ラテなどの革新的な商品も提供しています。
if location=="maccha"
  p.c-section-text__message-sub.js-fadeUpSingle 抹茶製品は当社の製品の中でも高いシェアを占めており、<br class="pc">代表が自ら厳選した高品質な抹茶のみを取り扱っています。<br>製品の詳細は下記よりご確認ください。
