footer.l-footer.bg05
  .l-footer__inner.section-inner
    .l-footer__left.l-footer-left
      .l-footer-left__title-wrap
        a.l-footer-left__title(href="#") 有限会社&nbsp;エバーグリーン
      p.l-footer-left__text 〒421-1221&nbsp;<br class="sp">静岡県静岡市葵区牧ヶ谷2022番地<br>営業時間&nbsp;月〜金:&nbsp;9:00&nbsp;AM&nbsp;&#45;&nbsp;6:00&nbsp;PM
      a.l-footer-left__policy(href="#") プライバシーポリシー 
    p.l-footer__right Copyright(C) Ever Green. Co.LTD. <br class="sp">All rights reserved.
