@use "../../global/" as g;
// .p-product
.p-product__inner {
  padding-top: g.fz(107);
  padding-bottom: g.fz(237);
  @include g.mq(md, max) {
    padding-top: g.fz(29);
    padding-bottom: g.fz(59);
  }
}
.p-product__img {
  display: flex;
  align-items: center;
  gap: g.fz(30);
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: g.fz(35);
  @include g.mq(md, max) {
    gap: 0;
  }
}
.p-product__contents {
  margin-top: g.fz(84);
  @include g.mq(md, max) {
    margin-top: g.fz(51);
  }
}
.p-product__box-text {
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 3;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: g.fz(35);
  @include g.mq(md, max) {
    margin-top: g.fz(29);
    line-height: 2.2;
    text-align: left;
  }
}
.p-product__pdf-box {
  display: flex;
  align-items: center;
  padding: g.fz(49);
  background-color: g.$white-color;
  margin-top: g.fz(50);
  @include g.mq(md, max) {
    flex-direction: column;
    padding: g.fz(26) g.fz(14);
  }
}
.p-product-pdf__img {
  width: calc((720 / 1336) * 100%);
  @include g.mq(md, max) {
    width: 100%;
  }
}
.p-product-pdf__contents {
  width: calc((351 / 1336) * 100%);
  margin-left: g.fz(113);
  @include g.mq(md, max) {
    margin-top: g.fz(20);
    width: 100%;
    margin-left: 0;
  }
  text-align: center;
}
.p-product-pdf__title {
  font-size: g.fz(18);
  font-weight: bold;
  letter-spacing: 0.38em;
}
.p-product-pdf__text {
  letter-spacing: 0.1em;
  margin-top: g.fz(30);
  line-height: 1.6;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}
.p-product-pdf__button {
  margin-top: g.fz(20);
}
// .p-product-items（お茶の一覧）
.p-product-items {
  display: flex;
  justify-content: center;
  gap: g.fz(64) g.fz(20);
  flex-wrap: wrap;
  margin-top: g.fz(74);
  @include g.mq(md,max) {
    gap: g.fz(10);
    justify-content: flex-start;
    margin-top: g.fz(28);
  }
}
.p-product-item {
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-direction: column;
  @include g.mq(md,max) {
    width: calc((100% - 10px) / 2);
    padding: g.fz(15);
    background: g.$white-color;
  }
}
.p-product-item__title {
  font-size: g.fz(18);
  font-weight: 500;
  letter-spacing: 0.38em;
  text-align: center;
  margin-top: g.fz(21);
  line-height: 1.4;
}
.p-product-item__text {
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-align: left;
  margin-top: g.fz(15);
  margin-bottom: g.fz(33);
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}
.p-product-item__button {
  margin-top: g.fz(33);
  margin-top: auto;
}
.p-product-item__button .c-pdf-button {
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}
